<main>
  <h1>Painel de Leads</h1>

  <button class="btn btn-info btn-novo" routerLink="/novo-lead">
    Novo Lead (+)
  </button>

  <div class="tables d-flex justify-content-center">
    <ng-container *ngFor="let item of status">
      <table class="table table-striped table-hover" name="table-leads" [id]="item">
        <thead class="thead-dark table-head">
          <tr>
            <th scope="col">{{ item }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let lead of leads">
            <tr *ngIf="lead.status == item">
              <td>
                <div>
                  <span>{{ lead.nome }}</span>
                </div>
              </td>
            </tr>
            <tr *ngIf="lead.status != item">
              <td>
                <div></div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</main>
