.table-head {
  color: white;
}
.btn-novo {
  margin: 20px 0 15px 0;
}

th, td > div{
  min-height: 50px;
  text-align: center;
}

span:hover{
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

td {
  border: 1px solid black;
}
