<main>
  <h1>Painel de Leads</h1>

  <button class="btn btn-info btn-novo" routerLink="/novo-lead">
    Novo Lead (+)
  </button>

  <div class="tables d-flex justify-content-center">
    <ng-container *ngFor="let item of status">
      <table class="table table-striped" name="table-leads">
        <thead class="thead-dark table-head">
          <tr>
            <th scope="col">{{ item.name }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let lead of leads">
            <tr *ngIf="lead.status == item.id">
              <td >
                <div>
                  <span [id]="lead.idLead" draggable="true" (dragstart)="drag($event)" >{{ lead.nome }}</span>
                </div>
              </td>
            </tr>
            <tr *ngIf="lead.status != item.id">
              <td>
                <div (drop)="drop()" (dragover)="allowDrop($event, item.id)"></div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</main>
