    <main>
    <h1>nova Lead</h1>

    <form action="" class="d-flex justify-content-around align-items-center flex-wrap">
      
      <div class="col-md-5">
      <div class="form-group">
        <label for="">Nome*</label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Telefone*</label>
        <input type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="">Email*</label>
        <input type="email" class="form-control">
      </div>
    </div>
      
    <div class="col-md-5">
      <div class="form-group">
        <label for="">Oportunidades*</label>
      <table class="table table-striped">
        <thead class="thead-dark table-head">
          <tr>
            <th scope="col">
              <input type="checkbox" name="" id="">
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <input type="checkbox" name="" id="">
            </th>
            <td>RPA</td>

          </tr>
          <tr>
            <th scope="row">
              <input type="checkbox" name="" id="">
            </th>
            <td>Produto Digital</td>

          </tr>
          <tr>
            <th scope="row">
              <input type="checkbox" name="" id="">
            </th>
            <td>Analytics</td>
          </tr>
          <tr>
            <th scope="row">
              <input type="checkbox" name="" id="">
            </th>
            <td>BPM</td>
          </tr>
        </tbody>
      </table>
    </div>

      <button class="btn btn-danger" routerLink="/leads">Cancelar</button>
      <button class="btn btn-info">Salvar</button>
    </div>

    </form>
  </main>


